body {
  background-color: #621402;
  font-family: "Roboto", sans-serif;
}
.header-cont {
  max-width: 1070px;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
.menu {
  list-style-type: none;
  display: flex;
  margin: 0px;
  margin-left: 17px;
}
.menu-item {
  margin-right: 25px;
}
.menu-link {
  color: white;
  text-decoration: none;
}
.user {
  color: white;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.ava {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 11px;
}
.header-cont {
  display: flex;
  align-items: center;
}
