* {
  box-sizing: border-box;
}
body {
  background-color: #0e0e0e;
  color: white;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  line-height: 21px;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.title {
  text-align: center;
  margin-bottom: 100px;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
}

.section-page {
  padding: 100px 0;
}
.header {
  background-image: url(../images/phone.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 50px;
  text-align: center;
}
header::after {
  content: "";
  position: absolute;
  height: 70px;
  bottom: 0;
  left: 0px;
  width: 100%;
  background: linear-gradient(
    180deg,
    #0e0e0e 0%,
    rgba(17, 17, 17, 0.850295) 16.53%,
    rgba(32, 31, 33, 0) 100%
  );
  transform: rotate(180deg);
}
.menu__list {
  display: flex;
  justify-content: center;
  padding-bottom: 58px;
  padding-top: 50px;
  background: linear-gradient(
    180deg,
    #111213 0%,
    #111213 43.62%,
    rgba(32, 31, 33, 0) 86.33%
  );
}
.menu__list-item {
  padding: 0 13px;
}
.menu__list-link {
  font-size: 36px;
  line-height: 42px;
}
.menu__list-link:hover {
  color: #85ccdc;
  text-decoration: underline;
}
.logo {
  padding-top: 178px;
}
.about_inner {
  display: flex;
}
.about_info {
  width: 375px;
  margin-right: 50px;
  flex: none;
}
.about_info-item span {
  display: block;
}
.about_info-item {
  margin-bottom: 25px;
  color: #e5e5e5;
}
.about_text p {
  margin-bottom: 25px;
}
.video {
  background-image: url(/images/phone2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: right;
}
.video_text {
  font-style: italic;
  font-weight: 300;
  font-size: 72px;
  line-height: 84px;
  padding-top: 444px;
  margin-bottom: 40px;
  color: #85ccdc;
}
.video_text span {
  padding-right: 285px;
  display: block;
}
.video_link {
  padding-left: 112px;
  position: relative;
  margin-right: 230px;
}
.video_link::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  background-image: url(../images/youtube\ .svg);
  top: -40px;
}
